# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore database files
*.sqlite3
*.db
*.db-wal
*.db-shm

# Ignore intermediate pipeline outputs
data_intermediate/


aux_data/topik/*.old*
src/database/clean_topik_data_old.py
